.wrapper {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  padding-left: 10px;
}

.name {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: -5px;
  text-underline: none;
}

.icon {
  margin-left: 6px;
  font-size: 1.4rem;
  color: rgb(32, 213, 236);
}

.username {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 12px;
}